table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd; /* 添加边框 */
}

th {
    font-weight: bold; /* 表头文字加粗显示 */
    background-color: #f2f2f2; /* 表头背景颜色 */
}

/* 设置每列的固定宽度 */
th:nth-child(1), td:nth-child(1) { width: 40px; } /* 产品ID列宽度 */
th:nth-child(2), td:nth-child(2) { width: 130px; } /* 产品名称列宽度 */
th:nth-child(3), td:nth-child(3) { width: 60px; } /* 价格列宽度 */
th:nth-child(4), td:nth-child(4) { width: 120px; } /* 制造商列宽度 */
th:nth-child(5), td:nth-child(5) { width: 150px; } /* 生产原料列宽度 */
th:nth-child(6), td:nth-child(6) { width: 220px; } /* 产品描述列宽度 */

/* 分页控件样式 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* 调整上下间距 */
}

.pagination-button {
  margin: 0 10px; /* 调整按钮间距 */
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-inputs {
  display: flex;
  gap: 30px; /* 根据需要调整间距 */
}

.search-buttons {
  display: flex;
  gap: 30px; /* 根据需要调整间距 */
}

.el-dialog .el-dialog__title {
  text-align: center;
}

.dialog-footer {
  text-align: right;
  padding: 10px;
}